---
title: Features
suppress_header: true
extra_css:
  - features-v2.css
extra_js:
  - features.js
---

%nav#qnav.navbar.navbar-default.qnav.hidden-xs.qnav2{role: "navigation"}
  .container-fluid.feature-nav
    %ul.nav.nav-pills.nav-justified
      %li
        = link_to "Community Edition", "#ce"
      %li
        = link_to "Enterprise Edition Starter", "#ee-starter"
      %li
        = link_to "Enterprise Edition Premium", "#ee-premium"


.page-container.landing-container.text-center
  %div
    %h1.page-headline
      Next-generation developer collaboration software
    %h2.page-subtitle
      Confidently and rapidly iterate towards a better product.

    .dev-cycle.hidden-xs.hidden-sm
      - data.development_cycle.each_with_index do |item, index|
        .step
          = icon("home/icon-step-#{index + 1}")
          .step-name-container
            .step-name
              #{item[:name]}
          - if index < data.development_cycle.length - 1
            .arrows
              %i.fa.fa-angle-double-right

    %a.btn.cta-btn.red.video-button
      %span.fa.fa-play-circle-o
      Watch the Video
    %object.video-container{data:"https://www.youtube.com/embed/PoBaY_rqeKA", frameborder:"0", allowfullscreen:true}

.page-container.feature-gallery.text-center.animated#ce
  .container.titles
    %h1
      Community Edition
    .features-description.features-description-separation
      - data.features.features.each do |feature|
        - if (feature.gitlab_ce == true && feature.gitlab_ees == true && feature.screenshot_url != nil)
          = partial "includes/features/feature-item-with-image", locals: { feature: feature }
    .features-description.features-description-separation
      - data.features.features.each do |feature|
        - if (feature.gitlab_ce == true && feature.gitlab_ees == true && feature.screenshot_url == nil && feature.include_on_features_page != false)
          = partial "includes/features/feature-item", locals: { feature: feature }

.page-container.feature-gallery.feature-gallery-alt.text-center.animated#ee-starter
  .container.titles
    %h1
      Enterprise Edition Starter
    %h4
      Includes all features from Community Edition
    .features-description.features-description-separation
      - data.features.features.each do |feature|
        - if (feature.gitlab_ce == false && feature.gitlab_ees == true && feature.screenshot_url != nil)
          = partial "includes/features/feature-item-with-image", locals: { feature: feature }
    .features-description.features-description-separation
      - data.features.features.each do |feature|
        - if (feature.gitlab_ce == false && feature.gitlab_ees == true && feature.screenshot_url == nil && feature.include_on_features_page != false)
          = partial "includes/features/feature-item", locals: { feature: feature }

.page-container.feature-gallery.text-center.animated#ee-premium
  .container.titles
    %h1
      Enterprise Edition Premium
    %h4
      Includes all features from Enterprise Edition Starter
    .features-description.features-description-separation
      - data.features.features.each do |feature|
        - if (feature.gitlab_ees == false && feature.gitlab_eep == true && feature.screenshot_url != nil)
          = partial "includes/features/feature-item-with-image", locals: { feature: feature }
    .features-description.features-description-separation
      - data.features.features.each do |feature|
        - if (feature.gitlab_ees == false && feature.gitlab_eep == true && feature.screenshot_url == nil && feature.include_on_features_page != false)
          = partial "includes/features/feature-item", locals: { feature: feature }

.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/products"}
      Explore our products
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/products"}
      Explore
