---
layout: default
title: Chat
suppress_header: true
extra_css:
  - features-v2.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.chat, solution_name: "chat" }
