---
layout: default
title: Monitor
suppress_header: true
extra_css:
  - features-v2.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.monitor, solution_name: "monitor" }
